@media(max-width:1024px) {

    .center {
        padding-inline: max(50% - 375px, 54px);
    }


    .block-inside {
        display: flex;
        flex-direction: column;
        gap: 86px; 
        padding-top: 0px;

        &__info {
            padding-left: 54px;
        }

        &__img-game {
            padding-left: 120px;
        }
    }

    .games {
        padding-left: 54px;
    }

    .block-inside-futer {
        display: flex;
        flex-direction: column;
        gap: 86px; 
        padding-top: 0px;
  
    }
.block-inside__info-futer{
    padding-left: 54px;

}
.block-inside__img-game-futer{

    padding-left: 120px;   
}

}