@media(max-width:1024px){

    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

   
    .block-inside {
        display: flex;
        flex-direction: column;
    }



















}